@page "/" 
@inject NavigationManager NavMgr 

<PageTitle>Home</PageTitle> 

<h1>Reddit Clone</h1> 

<AuthorizeView>
    
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3> 
    </Authorized> 
    <NotAuthorized>
        lol you are not logged in!
    </NotAuthorized>
</AuthorizeView> 

Here you can browse interesting posts. 
<button @onclick='() => NavMgr.NavigateTo("login")'>go to login</button>