@page "/login"
@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login</h3>
        <label>User name:</label>
        <input type="text" @bind="userName"/>
        <label>Password:</label>
        <input type="password" @bind="password"/>
        @if (!string.IsNullOrEmpty(errorLabel))
        {
            <label style="color: red">
                @errorLabel
            </label>
        }
        <button @onclick="LoginAsync">Log in</button>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>

@code {
    private string userName;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).LoginASync(userName, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

}