<h3>LoginPage</h3>

@page "/login"
@using BlazorApp.Auth
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr
@code {
    private string errorLabel;
    private string username;
    private string password;
    
    private async Task LoginUser()
    {
        errorLabel = "";
        try
        {
            await ((SimpleAuthProvider)AuthProvider).LoginASync(username, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login</h3>
        <label>User name:</label>
        <input type="text" @bind="username"/>
        <label>Password:</label>
        <input type="password" @bind="password"/>
        @if(!string.IsNullOrEmpty(errorLabel))
        {
            <label style="color:red">
                @errorLabel
            </label>
        }
        <button @onclick="LoginUser">Log in</button>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity?.Name</h3>
    </Authorized>
</AuthorizeView>
